<!DOCTYPE html>
<html>
<head>
    <title>Calculator Tool</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../">CalculatorTool</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="../college-gpa-calculator">College GPA Calculator <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="../high-school-gpa-calculator">High School GPA Calculator</a></li>
                        <li class="dropdown">   
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grade Calculator <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="../grade-calculator">Grade Calculator</a></li>
                                <li><a href="../semester-grade">Semester Grade Calculator</a></li>
                                <li><a href="../weighted-grade">Weighted Grade Calculator</a></li>
                                <li><a href="../final-grade">Final Grade Calculator</a></li>
                            </ul>
                        </li>
                        <li><a href="../raise-gpa">How to Raise GPA</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <section class="grade-calculator">
          <div id="grade-calculator" class="col-sm-12 row">
              <div id="mobile-results" class="mobile mobile-results">
                  <div v-cloak @click="bottomOpen=!bottomOpen" id="gpa-bar" class="gpa-bar col-xs-12">
                      <div class="col-xs-4"> Your GPA</div>
                      <div class="text-center col-xs-4"> Weighted</div>
                      <div class="text-center col-xs-4"> Unweighted</div>
                  </div>
                  <div v-cloak class="col-xs-12">
                      <div class="col-xs-4"> Cumulative</div>
                      <div class="col-xs-4 text-center"> {{CumulativeGPA.weighted}}</div>
                      <div class="col-xs-4 text-center"> {{CumulativeGPA.unweighted}}</div>
                  </div>
                  <div v-bind:class="{ open: bottomOpen }" class="gpa-wrapper">
                      <div v-cloak class="col-xs-12">
                          <ul>
                              <li v-for="semester in SemesterGPA">
                                  <div class="col-xs-4"> {{semester.title}}</div>
                                  <div class="col-xs-4 text-center"> {{semester.weighted}}</div>
                                  <div class="col-xs-4 text-center"> {{semester.unweighted}}</div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="row wrapper">
                  <div class="col-lg-9 col-md-12 topbar">
                      <div class="card current-gpa gc-clearfix"> <a v-bind:class="{ active: includeCurrentGPA }" @click="includeCurrentGPA=!includeCurrentGPA"> Current GPA (Optional) <img v-if="!includeCurrentGPA" src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/semester-expand.svg"> <img v-if="includeCurrentGPA" src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/contract.svg"> </a>
                          <div v-show="includeCurrentGPA==true">
                              <div class="col-sm-3 col-xs-6">
                                  <label>Cumulative GPA</label>
                                  <input v-model="currentGPA.gpa">
                              </div>
                              <div class="col-sm-3 col-xs-6">
                                  <label>Credits</label>
                                  <input v-model="currentGPA.credits">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-12 grade-format-wrapper">
                      <div class="grade-format">
                          <h3>Grade Format</h3>
                          <div class="input-wrapper">
                              <input v-model="gradeFormat" type="radio" name="letters" value="letters" class="grade-format" id="letters">
                              <label for="letters">Letters</label>
                              <input v-model="gradeFormat" type="radio" name="percentage" value="percentage" class="grade-format" id="percentage">
                              <label for="percentage">Percentage</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row wrapper">
                  <div id="gc-main" class="gc-main col-lg-9 col-md-12 calculator"><span class="gc-error" v-cloak v-if="validation.valid==false"> <img src="http://cdn.gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/icon-error.png"> {{validation.message}} </span>
                      <div class="card gc-clearfix" v-for="(semester, semesterIndex) in semesters">
                          <div class="col-sm-12 row">
                              <input type="text" class="semester-title" placeholder="SEMESTER TITLE" v-model="semesters[semesterIndex].title">
                              <a class="remove-semester" @click="removeSemester($event, semesterIndex)"> <img class="visible-xs" src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/trash.svg"> </a>
                          </div>
                          <form class="col-sm-12 row grade-entry">
                              <label class="desktop heading class-name">Course Name</label>
                              <label class="desktop heading grade">Grade <span v-if="gradeFormat=='percentage'">(%)</span>
                              </label>
                              <label class="desktop heading credits">Credits</label>
                              <label class="desktop heading class-type">Course Type</label>
                              <ul class="classes col-sm-12 row">
                                  <li class="row col-sm-12" v-for="(studentClass, classIndex) in semesters[semesterIndex].classes">
                                      <div class="input-wrapper class-name">
                                          <label class="mobile">Course Name
                                              <a class="remove-class visible-xs" @click="removeClass($event, semesterIndex, classIndex)"> <img class="gc-hover" src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/trash.svg"> </a>
                                          </label>
                                          <input type="text" v-bind:placeholder="'e.g. ' + semesters[semesterIndex].classes[classIndex].placeholder" v-model="semesters[semesterIndex].classes[classIndex].name">
                                      </div>
                                      <div class="input-wrapper grade">
                                          <label class="mobile">Grade <span v-if="gradeFormat=='percentage'">(%)</span>
                                          </label>
                                          <input v-if="gradeFormat=='percentage'" type="text" v-on:keyup="validatePercentage(semesters[semesterIndex].classes[classIndex].grade)" v-model="semesters[semesterIndex].classes[classIndex].grade"> <span v-if="gradeFormat=='letters'" class="select-wrapper"> <select v-if="gradeFormat=='letters'" v-model="semesters[semesterIndex].classes[classIndex].grade"><option v-for="letter in letters" :value="letter.value" v-text="letter.label"></option> </select> </span>
                                      </div>
                                      <div class="input-wrapper credits"><span class="select-wrapper"> <label class="mobile">Credits</label> <select v-model="semesters[semesterIndex].classes[classIndex].credits"><option v-for="credit in credits" :value="credit" v-text="credit"></option> </select> </span>
                                      </div>
                                      <div class="input-wrapper class-type"><span class="select-wrapper"> <label class="mobile">Course Type</label> <select v-model="semesters[semesterIndex].classes[classIndex].classType"><option v-for="classType in classTypes" :value="classType.value" v-text="classType.label"></option> </select> </span>
                                      </div>
                                      <a class="remove-class hidden-xs" @click="removeClass($event, semesterIndex, classIndex)"> <img class="gc-hover" @mouseover="triggerHover($event)" @mouseleave="untriggerHover($event)" src="http://cdn.gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/delete.png" data-hover-src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/delete-hover.svg"> </a>
                                  </li>
                              </ul>
                              <div class="col-sm-12 add-class">
                                  <button class="add-element" @click="addClass($event, semesterIndex)"> <img class="gc-hover" @mouseover="triggerHover($event)" @mouseleave="untriggerHover($event)" src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/add.svg" data-hover-src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/add-hover.svg"> Add Course </button>
                              </div>
                          </form>
                      </div>
                      <div class="col-sm-12 add-semester card">
                          <button class="add-element" @click="addSemester($event)"> <img class="gc-hover" @mouseover="triggerHover($event)" @mouseleave="untriggerHover($event)" src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/add.svg" data-hover-src="http://gpacalculator.net/wp-content/plugins/grade-calculators/public/partials/../img/add-hover.svg"> Add Semester </button>
                      </div>
                  </div>
                  <div id="results" class="desktop col-lg-3 col-md-12 results text-center">
                      <div class="card">
                          <h2>Your GPA</h2>
                          <div class="col-sm-12 gpa-types">
                              <div class="col-xs-6"> <a v-bind:class="{ active:GPAType=='weighted' }" href="#" @click="setGPAType($event,'weighted')">Weighted</a>
                              </div>
                              <div class="col-xs-6"> <a v-bind:class="{ active:GPAType=='unweighted' }" href="#" @click="setGPAType($event,'unweighted')">Unweighted</a>
                              </div>
                          </div>
                          <div v-cloak v-if="semesters.length>0&&GPAType=='weighted'">
                              <ul class="gpa">
                                  <li>
                                      <div class="col-xs-6"> Cumulative</div>
                                      <div class="col-xs-6"> {{CumulativeGPA.weighted}}</div>
                                  </li>
                                  <li v-for="semester in SemesterGPA">
                                      <div class="col-xs-6"> {{semester.title}}</div>
                                      <div class="col-xs-6"> {{semester.weighted}}</div>
                                  </li>
                              </ul>
                          </div>
                          <div v-cloak v-if="semesters.length>0&&GPAType=='unweighted'">
                              <ul class="gpa">
                                  <li>
                                      <div class="col-xs-6"> Cumulative</div>
                                      <div class="col-xs-6"> {{CumulativeGPA.unweighted}}</div>
                                  </li>
                                  <li v-for="semester in SemesterGPA">
                                      <div class="col-xs-6"> {{semester.title}}</div>
                                      <div class="col-xs-6"> {{semester.unweighted}}</div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</body>
</html>